#projects {
    margin-top: 2rem;
}

.project-container {
    display: grid;
    grid-template-rows: 12% 87%;
    gap: 1rem;
    background: #e7dbdd;
    border: 6px solid #dc9b9b;
    border-radius: 50px;
    z-index: 1;
    width: 90rem;
    max-width: 100%;
    height: 53rem;
    position: relative;
    box-shadow: 30px 20px 20px 5px rgba(0, 0, 0, 0.15),
    inset 15px 15px 10px rgba(255, 255, 255, 0.75),
    -15px -15px 35px rgba(255, 253, 253, 0.253),
    inset -1px -1px 10px rgba(0, 0, 0, 0.2);
}

.project-container:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 48px;
    box-shadow: inset 10px 10px 20px rgba(0,0,0,0.5),
                inset -5px -5px 15px rgb(204, 197, 197);
    z-index: 1;
}

.title_project {
    margin-top: 2rem;
    grid-area: 1 / 1 / 2 / 2;
}

.projects-wrapper {
    grid-area: 2 / 1 / 3 / 2;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-left: 3rem;
    margin-right: 3rem;
}

.mySwiperProjects {
    max-width: 80rem;
    width: 100%;
    background: transparent;
    box-shadow: none;
    padding: 10px 2rem;
  }
  
.mySwiperslide {
    text-align: center;
    font-size: 18px;
    background: transparent;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.swiper-pagination-bullets {
    height: 2rem;
    visibility: hidden;
}

.swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }
  
  .swiper-pagination-bullet-active {
    color: #fff;
    background: var(--bg);
  }

.swiper-button-next, .swiper-button-prev {
    color: #7206f7;
    width: 1rem;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem #ff00dd);
}



.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 7px;
    right: auto;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}

.arrow-icon {
    width: 5rem;
    height: 5rem;
    color: rgb(195, 18, 18);
    filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3))
            drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2))
            drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
    

  
}

.btn-slide {
    position: absolute;
    background: transparent;
    top: 44.5%;
    z-index: 5;
    
}

.btn-slide.slideNextButton {
    right: 0;
    left: auto;
}

.btn-slide.slidePreviousButton {
    left: 0;
    right: auto;
}

.swiper-button-disabled {
    opacity: 50%;
}

.card {
    margin: 5px auto 50px;
    width: 27rem;
    height: 40rem;
    z-index: 5;

}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    /* backface-visibility: hidden; */
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9); */
    width: 24rem;
    
}


.card:hover .details {
    bottom: 130px;
}

.card-body {
    display: grid;
    grid-template-rows: 50% 30% 20%;
    height: 10rem;
    width: 23rem;
    margin: auto;
    margin-top: 1.5rem;

}

.description {
    grid-area: 1 / 1 / 2 / 2;
}

.tags {
    position: relative;
    font-size: 15px;
}

.tags span {
    padding: 2px 5px;
    margin-right: 2px;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    background: #7206f7;
    margin-bottom: 2px;
}

.card-face.back {
    background-color: #e6cec9;

}

.card-content {
    width: 100%;
    height: 100%;
    color: #383637;

}

.card-header {
    position: relative;
    width: 24rem;
    height: 23rem;
}

.project-item-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px 25px;
}

.card-header:after {
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background: linear-gradient(45deg, #a13a57, #d88a8a);

}

.project-item-links {
    display: flex;
    gap: 1rem;
    z-index: 6;
    grid-area: 2 / 1 / 3 / 2;
    margin: auto;
}

.project-item-links a {
    background: #e7dbdd;
    width: fit-content;
    height: 2rem;
    padding: 0 1rem;
    margin-top: 2rem;
}

.card-footer {
    grid-area: 2 / 1 / 3 / 2;
}






/* Media Breakpoints (LG Devices) */
@media screen and (max-width: 1320px){
    #projects {
        margin-top: 3rem;
      }
    

    .project-container {
        height: 68rem;
    }

    .projects-wrapper {
        margin-top: -1rem;
    }

    .card {
        margin: 0.2rem auto 2rem;
        width: 50rem;
        height: 17rem;
    }

    .card-content {
        display: grid;
        grid-template-columns: 1% 24% 74% 1%;
        grid-template-rows: 70% 30%;
        margin-left: 0;
    }
    .card-header {
        grid-area: 1 / 2 / 3 / 3; 
    }

    .card-body {
        grid-area: 1 / 3 / 2 / 4; 
        /* margin-left: 4rem; */
        margin-top: 2rem;
        width: 33rem;
    }

    .card-footer {
        grid-area: 2 / 3 / 3 / 4; 
        margin-top: 1rem;
        margin-left: -6.5rem;
    }

    .card-header img {
        width: 9rem;
        height: 9rem;
    } 

    .title_project {
        margin-top: 2rem;
    }

    .mySwiperProjects {
        width: 60rem;
        height: 58rem;
        background: transparent;
        box-shadow: none;
        overflow: visible;
      }
      
    .mySwiperslide {
        flex-direction: column;
    }

    .swiper-pagination-bullets {
        visibility: visible;
    }


    
}


/* Media Breakpoints (MD Devices) */
@media screen and (max-width: 1024px){

    #projects {
        /* height: 50%; */
    }

    .project-container {
        width: var(--container-width-md);
        margin: auto;
        width: 38rem;
        height: 70rem;
    }

    .title_project {
        width: 38rem;

    }

    .mySwiperProjects {
        width: fit-content;
        height: 60rem;
        background: transparent;
        box-shadow: none;
        padding-left: 0;
        padding-right: 4rem;
        overflow: hidden;
      }

    .mySwiperslide {
        width: fit-content;
        height: fit-content;
    }

    .swiper-wrapper {
        width: 30rem;
    }

    .swiper-pagination-bullets {
        margin: auto;
        width: 2rem;
    }

    .card {
        width: 15rem;
        height: 50rem;
    }

    .card-body {
        width: 15rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .card-content {  
        width: 29rem;
        height: 14rem;
        margin: 1rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .card-inner {
        width: 30rem;
        height: 16rem;
        margin-bottom: 1rem;
    }

    .card-face.back {
        width: 30rem;
        height: 16rem;
        margin-bottom: 1rem;
    }

    .card-header {
        width: 12rem;
        height: 12rem;
    }

    .card-header img {
        width: 10.5rem;
        height: 10.5rem;
        border-radius: 1rem;
    }

    .card-footer {
        margin-top: 1.5rem;
    }

    .project-item-links {
        margin-top: .2rem;
    }

    .tags {
        font-size: 0.8rem;
    }



    .btn-slide {
        visibility: hidden;
        
    }

}

/* Media Breakpoints (SM Devices) */
@media screen and (max-width: 600px){

    #projects {

        /* margin: auto; */
    }
    .project-container {

        min-width: 22rem;
        height: 65rem;
        margin: auto;
    }

    .projects-wrapper {
        margin: auto;
        height: fit-content;
        width: 22rem;
        min-width: 22rem;

    }

    .mySwiperProjects {
        width: 22rem;
        min-width: 22rem;
        height: 55rem;
        padding: 2rem;
        padding-top: 0;
        overflow: hidden;
      }

      .mySwiperslide {
        width: fit-content;
        height: fit-content;
    }
    
    .card {
        width: 17rem;
        height: 15rem;
        margin-bottom: 1rem;
    }

    .card-content {
        grid-template-columns: 1fr;
        grid-template-rows: 70% 30%;    
        width: 17rem;
        height: 15rem;
        margin-bottom: 1rem;
    }

    .card-inner {
        width: 17rem;
        min-width: 17rem;
        height: 15rem;
        margin-bottom: 1rem;
    }

    .card-face.back {
        width: 17rem;
        height: 15rem;
        margin-bottom: 1rem;
    }

    .card-header {
        display: contents;
        width: 15rem;
        min-width: 15rem;
        height: 10rem;
        min-height: 10rem;
        z-index: 1;
    }

    .card-header img {
        width: 16.8rem;
        min-width: 16.8rem;
        height: 15rem;
        min-height: 15rem;
        opacity: 17%;
    }

    .card-body {
        width: 15rem;
        margin-right: 1rem;
        z-index: 2;
        grid-area: 1 / 1 / 2 / 2;
    }

    .card-footer {
        margin: auto;
        width: 15rem;
        height: 2rem;
        z-index: 2;
        grid-area: 2 / 1 / 3 / 2;

    }

    .tags {
        font-size: 0.7rem;
    }

    .project-item-links {
        margin-top: 1rem;
        z-index: 3;
    }

    .project-item-links {
        display: flex;
        gap: 1rem;
        z-index: 6;
        grid-area: 2 / 1 / 3 / 2;
        margin: auto;
    }
    
    .project-item-links a {
        background: #e7dbdd;
        width: fit-content;
        height: 1.5rem;
        padding: 0 0.5rem 2rem;
        margin-top: 1.5rem;
    }

    .smalldesc {
        width: 15rem;
        height: 4rem;
        font-size: 1.05rem;
        overflow: hidden;
    }

    
    .btn-slide {
        display: none;
        
    }
}
