header {
    padding-top: 4rem;

}

.header-container {
    width: 100%;
    max-width: 90rem;
    margin-bottom: 2rem;
   position: relative; 
   
}

.header-wrapper {
    background: #e7dbdd;
    border: 6px solid #dc9b9b;
    display: flex;
    border-radius: 50px;
    z-index: 1;
    width: 100%;
    max-width: 90rem;
    height: 40rem;
    position: relative;
    box-shadow: 30px 20px 20px 5px rgba(0, 0, 0, 0.15),
    inset 15px 15px 10px rgba(255, 255, 255, 0.75),
    -15px -15px 35px rgba(255, 253, 253, 0.253),
    inset -1px -1px 10px rgba(0, 0, 0, 0.2);

}

.header-wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 48px;
    box-shadow: inset 10px 10px 20px rgba(0,0,0,0.5),
                inset -5px -5px 15px rgb(204, 197, 197);
    z-index: 1;
}


.name-container {
    position: absolute;
    top: 6rem;
    left: 15rem;
    margin-right: 2rem;
    z-index: 3;
    color: var(--bg);
    width: 25rem;
    max-width: 100%;
    height: 25rem;
    max-height: 100%;
    
}

.title-big {
    font-size: 6em;
    font-weight: 600;
    color: #fff;
    width: 30rem;
    /* text-align: center; */
    margin: 0;
    padding: 0;
    transition: .5s;
    transform: perspective(1000px) rotateX(35deg);
}

.title-big .char1,
.title-big .char2,
.title-big .char3,
.title-big .char4,
.title-big .char5 {
    display: inline-block;
    padding: 0 10px;
    transition: .5s;
    text-shadow: 0 5px 2px rgba(0,0,0,.1);
    box-shadow: 10px 50px 20px rgba(0,0,0,.1);
    filter: blur(.5px);
}

.title-big .char1,
.title-big .char3,
.title-big .char5{
    background: #ff54a1;
    transform: skewY(-15deg);
}

.title-big .char2,
.title-big .char4{
    background: #d82475;
    transform: skewY(15deg);
}

.title-big:hover .char1,
.title-big:hover .char2,
.title-big:hover .char3,
.title-big:hover .char4,
.title-big:hover .char5 {
    background: #ff54a1;
    transform: skewY(0deg);
    filter: blur(0);
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
}

.title-small {
    width: 23rem;
    font-size: 2rem;
    text-align: center;
}

.subtitle {
    width: 23rem;
    font-size: 1rem;
    text-align: center;
}

/* Resume */
.resume {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    /* justify-content: center; */
    z-index: 2;
}

/* Socials */
.header-socials {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    position: relative;
    top: 3rem;
    left: 3rem;
    z-index: 4;
    
}

.socials-icons {
    width: 30px;
    height: 30px;
    padding: 0.3rem;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #c7c4c4,
                -5px -5px 5px #fff;
    transition: .3s;
}

.socials-icons:hover {
    color: rgb(83, 195, 197);
    box-shadow: inset 5px 5px 10px #c7c4c4,
                inset -5px -5px 10px #fff;
}

.facebook, .linkedin {
    color: #3b5999 ;
}

.github {
    color: rgb(26, 25, 25) ;
}

.header-socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--primary);
}

/* Me */
.me {
    /* background: radial-gradient(white, transparent); */
    width: 50rem;
    height: 50rem;
    max-width: 50%;
    position: absolute;
    left: calc(50% - 5rem);
    bottom: calc(50% - 25rem);
    margin-top: 4rem;
    /* border-radius: 15rem; */
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    z-index: 1;
}

.me img {
    filter: drop-shadow(-3px 2px 2px rgba(7, 7, 7, 0.4));
}

/* Scroll Down */

.scroll-down {
    position: absolute;
    right: 0.1rem;
    bottom: 6rem;
    transform: rotate(90deg);
    font-weight: 400;
    font-size: 1rem;
    z-index: 4;
    color: var(--bg);
}

/* Media Breakpoints (MD Devices) */
@media screen and (max-width: 1024px){

    header {
        /* height: 68vh; */
        width: var(--container-width-md);
        margin: auto;

    }

    
    .name-container {
        top: 12rem;
        left: 7rem;
        
    }

    .title-big {
        font-size: 3em;
        width: 20rem;
        text-align: center;
    }

    .title-small {
        width: 20rem;
        font-size: 1.5em;
        text-align: center;
    }
    
    .subtitle {
        width: 20rem;
        font-size: 1em;
        text-align: center;
    }
    

    .me {
        width: 20rem;
        left: calc(50% - 8rem);
        bottom: calc(50% - 25rem);
    }

    .scroll-down, .header-socials {
        padding: 2rem;
    }

    .scroll-down {
        bottom: 5rem;
        right: -2rem;
    }

    .resume {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        width: 20rem;
    }

    .header-socials{
        left: 1rem;
    }

    
}

/* Media Breakpoints (SM Devices) */
@media screen and (max-width: 600px){

    header {
        margin-top: -2rem;
        width: var(--container-width-sm);
        min-width: 22rem;
    }

    .header-wrapper {
        height: 44rem;
    }

    .scroll-down, .header-socials {
        padding: 1rem;
    }

    .me {
        min-width: 20rem;
        left: calc(50% - 8rem);
        bottom: calc(50% - 23rem);
    }

    .name-container {
        left: 2rem;
        top: 15rem;
        width: fit-content;
    }

    .title-small {
        width: 18rem;
        min-width: 18rem;
        font-size: 1.5rem;
    }

    .title-big {
        width: 18rem;
        min-width: 18rem;
    }

    .subtitle {
        width: 15rem;
        min-width: 15rem;
        font-size: 0.9rem;
        margin: auto;
        
    }

    .resume {
        width: 18rem;
        min-width: 18rem;
    }
    
}