@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100vw;
  height: fit-content;
}

/* Variables */
:root {
  /* Variables for colors */
  --bg: #a13a57;
  --bg--variant: #4f084c;
  --primary: #d88a8a;
  --primary-variant: #a23b54;
  --light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  /* Variables for contanier sizes based on diff breakpoints */
  --container-width-lg: 75%;
  --container-width-md: 80%;
  --container-width-sm: 90%
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  /* background: var(--bg); */
  color: white;
  line-height: 1.7;
  
}

/* Animated Background */
canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

/* Global styles */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
  /* overflow-y: hidden; */
}

section h2, section h5 {
  text-align: center;
  color: var(--primary);
}

section h2 {
  color: var(--bg--variant);
  margin-bottom: 2rem;
  font-weight: bold;
}

.text-light {
  color: var(--light);
}

a {
  color: var(--primary);
  transition: var(--transition);
}

a:hover {
  color: rgb(83, 195, 197);
  
}

.btn {
  width: max-content;
  display: inline-block;
  color: #696969;
  padding: 0.75rem 1.2rem;
  border-radius: 50px;
  cursor: pointer;
  border: 2px solid rgba(221, 217, 217, 0.3);
  /* background: linear-gradient(145deg, #f9f7f7, #c8c6c8); */
  transition: color 0.2s ease-out, transform 0.2s ease-out;
  box-shadow: 4px 4px 6px 0 rgba(0, 0, 0, 0.1),
    -4px -4px 6px #fff;
}

.btn:hover {
  /* box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
            -4px -4px 10px #fff; */
            
    box-shadow: inset 5px 5px 10px #c7c4c4,
                inset -5px -5px 10px #fff;
}

.btn:focus {
  outline: none;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1),
            -4px -4px 10px #fff,
            4px 4px 10px 0 rgba(0, 0, 0, 0.1) inset,
            -4px -4px 10px #fff inset;
}

.btn:hover,
.btn:focus {
  color: rgb(83, 195, 197);
}

.btn-primary {
  background: var(--primary);
  color: var(--bg);
}

.btn-primary-color-light {
  background: var(--primary);
  color: var(--bg--variant);
}

.btn-primary-color-light:hover {
  background: #e7dbdd;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Media Breakpoints (MD Devices) */
@media screen and (max-width: 1024px){
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* Media Breakpoints (SM Devices) */
@media screen and (max-width: 600px){
  .container {
    width: var(--container-width-sm);
  }

  section h2{
    margin-bottom: 2rem;
  }
}